---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.short
  - label: 'Type'
    value: page.type
  - label: 'Date'
    value: page._date
  - label: 'Date Range'
    value: page.decade
  - label: 'Description'
    value: page.long
  - label: 'Location'
    value: page.location
  - label: 'Neighorhood'
    value: page.neighorhood
  - label: 'Organizations'
    value: page.orgs
  - label: 'Persons appearing in item'
    value: page.persons
  - label: 'Contextual Information'
    value: page.notes
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
